#contraste.containerBreadcrumb{
    background-color: black;
}

#contraste.container{
    background-color: black;
}

.container{
    display: flex;
    gap: 2.6%;
}

.right{
    margin-top: 43px;
    margin-right: 60px;
    height: min-content;
}

.left{
    width: 40%;
    margin-top: 43px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.imagem{
    width: 610px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 44px;
}

#contraste.containerConfiraTambemProduto{
    background-color: black;
    color: var(--white);
}

.containerConfiraTambemProduto{
    padding: 0 60px;
}

@media (max-width: 1250px){
    .container{
        flex-direction: column;
        align-items: center;

    }

    .right{
        max-width: 700px;
        margin: 60px;
        height: 700px;
    }

    .left{
        width: 100%;
        margin: 40px 0;
        align-items: center;
        padding-top: 108px;
    }

    .containerBreadcrumb{
        display: none;
    }
}

@media (max-width: 760px){
    .left{
        padding-top: 55px;
    }
}