.containerAccessibility{
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: -38px;
}

#contraste{
    background-color: black;
    border: 2px solid var(--white);

}

.accessibility{
    background-color: var(--purple-500);
    height: 184px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    position: absolute;
    bottom: 38px;
}

.accessibility img:active{
    transform: translateY(1px);
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
}

.accessibility img{
    padding: 14px;
    cursor: pointer;
}

.linha{
    background-color: var(--white);
    width: 52px;
    border: 0;
    border-top: 1px solid var(--white);
    align-self: center;
}

@media screen and (max-width: 760px) {
    .tamFonte{
        display: none; 
    }

    .linha{
        display: none;
    }

    .accessibility{
        height: 62px;
        width: 62px;
        border-radius: 8px;
        margin-bottom: 52px;
    }

    .containerAccessibility{
        align-items: flex-end;
    }
}