.excluir{
    display: flex;
    position: relative;
    left: 265px;
    top: 8px;
    background-color: var(--white);
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

#contraste.excluir{
    background-color: black;
}

.fundo{
    display: flex;
    width: 100%;
    height: 170px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#contraste.imagem{
    height: 166px;
    width: 166px; 
}

.imagem{
    height: 170px;
    width: 170px;
    background: no-repeat center;
    border-radius: 20px;
    object-fit: cover;
}

.titulo{
    height: 46px;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 40px;
    padding: 0 15px;
    text-align: center;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.valor{
    margin-top: 10px;
    padding: 0 15px;
    font-size: 1.5rem;
    color: var(--purple-800);
    font-weight: bold;
    text-align: center;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 10px;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 10px;
}

.contador h1{
    color: var(--purple-800);
    font-size: 0.875rem;
    text-align: center;
}

.decrementar{
    color: #C8372D;
    border: 0.578947px solid #FAA9A3;
}

.incrementar{
    color: #37833B;
    border: 0.578947px solid #A9D3AB;
}

.contador button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    background-color: var(--white);
    cursor: pointer;
}

#contraste{
    background-color: var(--black);
    color: var(--white);
}

#contraste .fundo{
    background-color: var(--black);
    border: 1px solid var(--white);
}



#contraste .valor{
    color: var(--white);
}

#contraste h1{
    color: var(--white) !important;
}

#contraste .incrementar{
    color: var(--white);
    border-color: var(--white);
    background: var(--black);
}

#contraste .decrementar{
    color: var(--white);
    border-color: var(--white);
    background: var(--black);
}

@media (max-width: 800px){
    .fundo{
        flex-direction: column;
        height: 300px;
    }

    .imagem{
        height: 125px;
        width: 100%;
        object-fit: cover;
    }

    .descricao{
        margin-top: 15px;
    }

    .excluir{
        top: -115px;
        left: 205px;
        margin-right: 215px;
    }

    .informacoes{
        margin-top: -30px;
    }
}

/* 













@media (max-width: 800px){
    .fundo{
        display: flex;
        flex-direction: row;
    }


    .titulo{
        margin-left: 0px;
    }

    .valor{
        margin-left: 0px;
    }

    .contador{
        margin-left: 0px;
    }
}
*/