.tituloConfiraTambem{
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 40px;    
}

.cardContainer{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    /*  esconder barra de rolagem */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    gap: 60px;
    padding-bottom: 140px;
    padding: 10px;
}

/*  esconder barra de rolagem */
.cardContainer::-webkit-scrollbar{
    display: none;
}