.containerFormulario{
    width: 100%;
}

.formulario legend{
    padding-bottom: 12px;
    color: var(--purple-800);
}

.formulario fieldset{
    border: 0;
}

.formulario input{
    padding: 23px;

    font-size: 1.125rem;

    border: 1px solid #111111;
    border-radius: 25px;
}

.formulario input:focus{
    outline-style: none;
}

.dadosPessoais{
    display: flex;
    flex-direction: column;
    gap: 17px 0px;
    margin-bottom: 42px;
}

.enderecoEntrega{
    display: flex;
    gap: 17px 12px;
    flex-flow: row wrap;
}

.enderecoEntrega input{
    flex-grow: 1;
}

input#logradouro{
    width: calc(70% - 12px);
}

input#numero{
    width: 30%;
}

input#cep{
    width: calc(38.75% - 12px);
}

input#complemento{
    width: 61.25%;
}

#contraste legend {
    color: var(--white);
}

#contraste input::placeholder{
    color: var(--purple-100);
}

#contraste input{
    background: black;
    color: var(--white);
    border-color: var(--white);
}

@media (max-width: 650px){
    .containerFormulario{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

    } 

    .enderecoEntrega input{
        flex-grow: 1;
    }
    
    .formulario input{
        padding-top: 23.5px;
        padding-bottom: 23.5px;
        padding-left: 23px;
    
        font-size: 0.875rem;
    
        border: 1px solid #111111;
        border-radius: 25px;
    }

}