.header{
    display: flex;
    flex-direction: column;
}

.topHeader{
    height: 108px;
    width: 100%;
    font-size: 1.5rem;
    background: var(--purple-500);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 2rem;
    align-items: center;
}


.logo{
    padding: 0 1rem;
    height: auto;
    width: 26%;
    min-width: 260px;
    cursor: pointer;
}

.funcoes{
    display: flex;
}

.pesquisa{
    display: flex;
    height: 60px;
    margin: 0 2rem 0 0;
    align-items: center;
}

.pesquisa input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 100px;
    width: 600px;
    height: 60px;
    font-size: 18px;
    color: var(--purple-700);
    padding: 16px;
}

.pesquisa img{
    height: 24px;
    margin-left: -50px;
    margin-right: 2rem;
}

.icones{
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
}

.carrinho{
    display: flex;
    cursor: pointer;
}

.carrinhoImg{
    height: 32px;
}

.perfilImg{
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
}

.coracaoImg{
    height: 32px;
    margin-left: 16px;
}


.burger {
    display: none;
}

.navButtons {
    display: flex;
}

@media (max-width: 1040px){
    .pesquisa{
        display: none;
    }
}

@media (max-width: 600px){
    .topHeader{
        padding: 1rem 0.5rem;
    }
}


.nomeUsuario {
    color: var(--white);
    margin-left: 0.5rem;
    max-width: 15ch;
    text-overflow: hidden;
    overflow: hidden;


}