#contraste.imagensPequenasContainer{
  
}

.imagemPrincipalProduto{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 44px;
}

.imagensPequenasContainer{
  display: flex;
  gap: 20px;
  width: 930px;
  /* flex-wrap: wrap; */
  overflow: auto;
  white-space: nowrap;
  /*  esconder barra de rolagem */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  /*  esconder barra de rolagem */
.imagensPequenasContainer::-webkit-scrollbar{
  display: none;
}

.imagemPequena{
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
}

.selectedimage{
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
  border: 4px solid var(--purple-500);
  padding: 2px;
}

@media (max-width: 1250px){
  .imagemPrincipalProduto{
    width: 600px;
    margin: 0px;
  }
  .imagensPequenasContainer{
    margin: 0px 60px;
    width: 80%;

  }
}

@media (max-width: 752px){
  .imagemPrincipalProduto{
    width: 41.6vw;
    margin: 0px;
  }
}