.caixaInternaDoLogout{
    position: absolute;
    width: 187px;
    height: 82px;
    background: var(--white);
    border-radius: 10px;
    margin-top:90px;
    z-index: 1;

    font-size: 18px;
    text-align: center;
    color: var(--purple-600);

    padding-top: 12px;
}

.setaDaCaixaInternaDoLogout{
    position: absolute;
    width: 23px;
    height: 15px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 2px;
    z-index: 1;
}

.textoDaCaixaInternaDoLoout{
    width: 177px;
    height: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--purple-600);

}