.wrapper{
    position: absolute;
    margin-top:130px;
}

.caixaInternaDoLogout{
    position: relative;
    width: 187px;
    height: 82px;
    background: var(--white);
    border-radius: 10px;
    left: 32px;
    z-index: 2;
    font-size: 1.125rem;
    text-align: center;
    color: var(--purple-600);
    padding-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setaDaCaixaInternaDoLogout{
    position: absolute;
    margin-top: 60px;
    margin-left: 74px;
    width: 23px;
    height: 15px;
    background: var(--white);
    mix-blend-mode: normal;
    border-radius: 2px;
    z-index: 1;
    transform: rotate(45deg);

}


.textoDaCaixaInternaDoLoout{
    width: 177px;
    height: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
    color: var(--purple-600);

}

.botaoSair{
    width: 63px;
    padding: 6px 11px;
    background: var(--purple-600);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: var(--white);
    margin-top: 10px;
    cursor: pointer;
    border-color: var(--white);
    text-decoration: none;
}

#contraste{
    background: var(--black);
    border: 1px solid var(--white);
}

#contraste .desejaSair{
    color: var(--white);
}


#contraste.setaDaCaixaInternaDoLogout{
    background: var(--black);
}

@media (max-width: 760px){
    .setaDaCaixaInternaDoLogout{
        margin-left: 48px;
    }
    
    .caixaInternaDoLogout{
        left: auto;
        right: 16px;
    }
    
}