.modalBody {
    overflow-y: auto;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}

.modalBody h2 { 
    font-size: 1.5rem;
}

.modalHeader {
    padding: 15px 0;
    color: var(--purple-800);
}

.button{
    font-size: 0.875rem;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-block;
    background-color: var(--purple-600);
    border-radius: 4px;
    width: 100%;
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: var(--purple-500);
}

.divider {
    color: #666;
    font-size: .875em;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 16px 0;
    height: 12px;
}

.divider .mainText {
    font-size: 0.875rem;
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 25px;
    z-index: 2;
    line-height: 1;
    top: -.1875em;
}

.divider hr {
    border: 0;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
    top: -9px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.customModal {
    border-radius: 4px;
  }



.copyButtonIconToCopy{
    width: 12px;
    display: inline-block;
    margin-right: 8px;
    background: url(../assets/copiar.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}

.copyButtonIconCopied{
    width: 18px;
    display: inline-block;
    margin-right: 8px;
    background: url(../assets/check.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}   

.qrCodeImg {
    width: 80%;
}

.qrCodeContainer {
    text-align: center;
    margin-bottom: 20px
}

.customModalContraste {
    border-radius: 4px;
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

#contraste .mainText{
    color: var(--white) ;
    background: var(--black);
}

#contraste .texto{
    color: var(--white) ;
}

#contraste .button{
    background-color: black;
    color: var(--white);
    border: 2px solid var(--purple-c);
}