.containerSumario{
    height: 40vw;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
}

.subCategorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estrelas{
    display: flex;
    align-items: center;
}

.estrelas img{
    width: 18%;
}

.estoque{
    background-color: #30591D;
    color: var(--white);
    line-height: 35px;
    border-radius: 320px;
    padding: 0 13px;
}

.comprados{
    font-size: 20px;
}

.avaliacao{
    font-size: 20px;
    margin-left: 7px;
}

.preco{
    font-size: 32px;
    font-weight: bold;
}

.texto{
    font-size: 23px;
    margin: 56px 0;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.botoesProduto{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.contador h1{
    color: var(--purple-800);
    font-size: 27px;
    text-align: center;
    font-weight: lighter;
}

.decrementar{
    color: #C8372D;
    border: 2px solid #FAA9A3;
    font-size: 32px;
}

.incrementar{
    color: #37833B;
    border: 2px solid #A9D3AB;
    font-size: 32px;

}

.contador button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 0px;
    background-color: var(--white);
    cursor: pointer;
}

.botaoCarrinho{
    background-color: var(--purple-600);
    border-radius: 8.27586px;
    border: none;
    color: var(--white);
    font-size: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.botaoCarrinho img{
    width: 26.75px;
    margin-left: 5px;
}

.botaoFrete{
    background-color: var(--white);
    border-radius: 8.27586px;
    border: 3px solid var(--purple-500);
    color: var(--purple-500);
    font-size: 18px;
    font-weight: bold;
    padding: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.botaoFrete img{
    width: 26.75px;
    margin-left: 5px;
}

.botaoFavorito{
    background-color: var(--white);
    border-radius: 8.27586px;
    border: 3px solid var(--purple-500);
    padding: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1250px){
    .containerSumario{
        height: auto;
        margin: 0;
    }

    .texto{
        overflow: visible;
        text-overflow: initial;
        -webkit-line-clamp: unset;
    }

    .subCategorias{
        flex-wrap: wrap;
    }

    .botoesProduto{
        flex-wrap: wrap;
        justify-content: center;
    }
}