:root{

    --white: #fff;
    --black: #000;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --blue-500: #1C8ADB;

    --purple-800: #11002B;
    --purple-700: #240046;
    --purple-600: #3C096C;
    --purple-500: #5A189A;
    --purple-400: #7B2CBF;
    --purple-300: #9D4EDD;
    --purple-200: #C77DFF;
    --purple-100: #E0AAFF;

    --purple-c: #E700FF;
    --green-500: #30591D;

    /* Dica -> usar LG->large MD->medio SM-small (assim que as libs usam)*/
    /* Usar rem, pois ele leva em consideração configurações de dispositivos, por exemplo*/
    /* Existem conversores de pixel para rem na net!!! */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--white);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding-bottom: 228px;
    min-height: 100vh;
}

body,input,textarea,button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #202024;
}

::-webkit-scrollbar-thumb{
    background-color: #29292e;
    border-radius: 5px;
}